* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  position: relative;
  background: #f0f0f0;
  font-family: "roboto", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 2vw;
}
.logo {
  height: 30px;
  margin: 20px 0;
  padding-left: 10px;
  font-weight: 700;
  font-family: jost;
}

.search-box {
  position: relative;
  max-width: 500px;
  width: 50%;
  height: 35px;
  display: flex;
  margin-left: 220px;
}

.search-bar {
  width: 85%;
  height: 100%;
  border: 2px solid #dbdbdb;
  padding: 0 20px;
  font-size: 16px;
  text-transform: capitalize;
}

.search-btn {
  width: 15%;
  height: 100%;
  background: #f0f0f0;
  border: 2px solid #dbdbdb;
  padding: 5px 0;
}

.search-btn img {
  height: 100%;
}

.user-options {
  height: 35px;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.user-options .icon {
  height: 80%;
  margin-right: 20px;
  cursor: pointer;
}

.user-dp {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 20px;
}

.user-dp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.side-bar {
  position: fixed;
  top: 60px;
  left: 0;
  min-width: 250px;
  width: 250px;
  height: calc(100vh - 60px);
  background: #fff;
  padding-right: 10px;
}

.links {
  display: block;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #242424;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.links img {
  height: 20px;
  margin-right: 20px;
}

.links:hover,
.links.active {
  background: rgba(0, 0, 0, 0.1);
}

.seperator {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.filters {
  position: fixed;
  left: 250px;
  top: 60px;
  width: calc(100% - 250px);
  height: 60px;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 0 20px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.filters::-webkit-scrollbar {
  display: none;
}

.filter-options {
  flex: 0 0 auto;
  padding: 10px 20px;
  border-radius: 50px;
  background: #f0f0f0;
  border: 2px solid #dbdbdb;
  text-transform: capitalize;
  margin-right: 10px;
  color: #242424;
  font-size: 15px;
  cursor: pointer;
}

.filter-options:hover {
  color: #fff;
  background: #242424;
}
.btnyt {
  height: 30px;
}
.filters {
  position: fixed;
  left: 250px;
  top: 60px;
  width: calc(100% - 250px);
  height: 60px;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 0 20px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.filters::-webkit-scrollbar {
  display: none;
}

.filter-options {
  flex: 0 0 auto;
  padding: 10px 20px;
  border-radius: 50px;
  background: #f0f0f0;
  border: 1px solid #dbdbdb;
  text-transform: capitalize;
  margin-right: 10px;
  color: #242424;
  font-size: 15px;
  cursor: pointer;
}

.filter-options.active {
  color: #fff;
  background: #242424;
}

.video-container {
  width: calc(100% - 250px);
  margin-top: 120px;
  margin-left: 250px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 20px 5px;
  overflow-x: hidden;
  display: flex;
    flex-wrap: wrap;
}

.video {
  min-height: 250px;
  height: auto;
}

.thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.content {
  width: 100%;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.channel-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.title {
  width: 100%;
  height: 40px;
  overflow: hidden;
}

.channel-name {
  font-size: 14px;
  margin: 2px 0;
  color: #979797;
}
.toggle-btn {
  width: 20px;
  height: 10px;
  position: relative;
  cursor: pointer;
}

.toggle-btn span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  background: #979797;
}

.toggle-btn span:nth-child(1) {
  top: 0;
}

.toggle-btn span:nth-child(3) {
  top: 100%;
}
.logoo {
  margin-left: 10px;
}
.thumbx {
  width: 100%;
  height: 150px;
  object-fit: cover;
  background-image: linear-gradient(to right, blue, white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumbx p {
  color: #fff;
  text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
@media (max-width: 1098px) {
    .search-box {
        width: 50%;
        height: 35px;
        display: flex;
        margin-left: 100px;
      }
      

}
@media (max-width: 925px) {
    .search-box {
        margin-left: 70px;
      }
      

}
@media (max-width: 605px) {
    .search-box {
        margin-left: 15px;
      }
    .side-bar{
        display: none;
    }
    .video-container{
        margin-left: 10px;
        width:100%;
    }
    .filters {
        left: 10px;
        width:100%;
      
    }
    
}
@media (max-width: 500px){
    .search-box {
        display: none;
      }
      .toggle-btn{
        display: none;
      }
      .logoo{
        height: 20px;
      }
      .logo{
        font-size: 23px;
      }
    .user-options{
        margin-right: 30px;
    }
}
